
RewriteEngine on
Options +Indexes

RewriteRule ^about$ about.php [NC,L]
RewriteRule ^events$ events.php [NC,L]
RewriteRule ^news$ news.php [NC,L]
RewriteRule ^discuss$ discuss.php [NC,L]
RewriteRule ^standards$ standards.php [NC,L]
RewriteRule ^resource-profiles$ resource-profiles.php [NC,L]
RewriteRule ^connectathon$ connectathon.php [NC,L]
