<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.webServer>
    <rewrite>
        <rules>
            <!-- redirects -->
            <rule name="index-redirect" stopProcessing="true">
              <match url="^index.php$" ignoreCase="true"/>
              <action type="Redirect" url="/"/>
            </rule>
            <rule name="about-redirect" stopProcessing="true">
              <match url="^about.php$" ignoreCase="true"/>
              <action type="Redirect" url="/about"/>
            </rule>
            <rule name="events-redirect" stopProcessing="true">
              <match url="^events.php$" ignoreCase="true"/>
              <action type="Redirect" url="/events"/>
            </rule>
            <rule name="news-redirect" stopProcessing="true">
              <match url="^news.php$" ignoreCase="true"/>
              <action type="Redirect" url="/news"/>
            </rule>
            <rule name="discuss-redirect" stopProcessing="true">
              <match url="^discuss.php$" ignoreCase="true"/>
              <action type="Redirect" url="/discuss"/>
            </rule>
            <rule name="standards-redirect" stopProcessing="true">
              <match url="^standards.php$" ignoreCase="true"/>
              <action type="Redirect" url="/standards"/>
            </rule>
            <rule name="resource-profiles-redirect" stopProcessing="true">
              <match url="^resource-profiles.php$" ignoreCase="true"/>
              <action type="Redirect" url="/resource-profiles"/>
            </rule>
            <rule name="connectathon-redirect" stopProcessing="true">
              <match url="^connectathon.php$" ignoreCase="true"/>
              <action type="Redirect" url="/connectathon"/>
            </rule>
            <rule name="interop-summit-redirect" stopProcessing="true">
              <match url="^interop-summit.php$" ignoreCase="true"/>
              <action type="Redirect" url="/interop-summit"/>
            </rule>
            <rule name="interoperability-case-studies-redirect" stopProcessing="true">
              <match url="^interoperability-case-studies.php$" ignoreCase="true"/>
              <action type="Redirect" url="/interoperability-case-studies"/>
            </rule>
            <rule name="connecting-care-bristol-redirect" stopProcessing="true">
              <match url="^connecting-care-bristol.php$" ignoreCase="true"/>
              <action type="Redirect" url="/connecting-care-bristol"/>
            </rule>
          
            <!-- rewrites -->
            <rule name="about-rewrite" stopProcessing="true">
              <match url="^about$" ignoreCase="true"/>
              <action type="Rewrite" url="/about.php"/>
            </rule>    
            <rule name="events-rewrite" stopProcessing="true">
              <match url="^events$" ignoreCase="true"/>
              <action type="Rewrite" url="/events.php"/>
            </rule>
            <rule name="news-rewrite" stopProcessing="true">
              <match url="^news$" ignoreCase="true"/>
              <action type="Rewrite" url="/news.php"/>
            </rule>
            <rule name="discuss-rewrite" stopProcessing="true">
              <match url="^discuss$" ignoreCase="true"/>
              <action type="Rewrite" url="/discuss.php"/>
            </rule>
            <rule name="standards-rewrite" stopProcessing="true">
              <match url="^standards$" ignoreCase="true"/>
              <action type="Rewrite" url="/standards.php"/>
            </rule>
            <rule name="resource-profiles-rewrite" stopProcessing="true">
              <match url="^resource-profiles$" ignoreCase="true"/>
              <action type="Rewrite" url="/resource-profiles.php"/>
            </rule>
            <rule name="connectathon-rewrite" stopProcessing="true">
              <match url="^connectathon$" ignoreCase="true"/>
              <action type="Rewrite" url="/connectathon.php"/>
            </rule>
            <rule name="interop-summit-rewrite" stopProcessing="true">
              <match url="^interop-summit$" ignoreCase="true"/>
              <action type="Rewrite" url="/interop-summit.php"/>
            </rule>
            <rule name="interoperability-case-studies-rewrite" stopProcessing="true">
              <match url="^interoperability-case-studies$" ignoreCase="true"/>
              <action type="Rewrite" url="/interoperability-case-studies.php"/>
            </rule>
            <rule name="connecting-care-bristol-rewrite" stopProcessing="true">
              <match url="^connecting-care-bristol$" ignoreCase="true"/>
              <action type="Rewrite" url="/connecting-care-bristol.php"/>
            </rule>
        </rules>
    </rewrite>
  </system.webServer>
</configuration>